*{
    box-sizing:border-box;
}
body{
    background-color: black;
    color:seashell;
    font-family: Helvetica;
    font-size: 22px;
    opacity: 0.9; 
}

/* navigation elements */
nav{
    
    height: 69px;
    border-bottom: seashell;
    display: flex;
   
    justify-content: space-around;
}

div.logo{
    
    width: 80px;
    height: 50px;
}


/*  header/intro elements*/
header {
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
     justify-content: center;
    
}
header img{
    height: 700px;
    
}
.mission{
    position: absolute;
    top: 40%;
    background-color: black;
    text-align: center;
    width: 1200px;
   
}
/* tea of month section*/


.title{
    grid-area: 1 / 1 / 1 /  span 5; 
    justify-self: center;
   align-self: center;
   
}



.teaMonth{
  width:100%;
}

.teaMonthA{
    grid-area: 2 / 2 / span 1 / span 1;
    
}
.teaMonthB{
    grid-area: 2 / 3 / span 1 / span 1;
    
}
.teaMonthC{
    grid-area: 2 / 4 / span 1 / span 1;
    
}
.teaMonthD{
    grid-area: 3 / 2 / span 1 / span 1;
    
}
.teaMonthE{
    grid-area: 3 / 4 / span 1 / span 1;
    
}
section{
    display:grid;
    grid-template:  1fr 2fr 2fr / repeat(5, 1fr);

}

.location{
    grid-area: 1 / 1 / 1 / span 5;
    align-self:center;
    justify-self: center;
}



address {
    
    background-color: black;
    
   
}
.addressA{
    grid-area: 2 / 2 / span 1 / span 1;
}
.addressB{
    grid-area: 2 / 3 / span 1 / span 1;
}

.addressC{
    grid-area: 2 / 4 / span 1 / span 1;
}

.locationInfo{
    display:grid;
    grid-template:   1fr 2fr 1fr / repeat(5, 1fr); 
    grid-gap:1px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-repeat:  no-repeat;
    background-position: center;

}






   