
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

*{
    font-family: 'Luxurious Roman', cursive;
    box-sizing:border-box;
    
    
}
:root{
    --color: #32D7CE; 
}

body{
    color:white;
    background-image: 
    url('images/background.png');
    background-size:cover;
    margin:5%;

}


nav{
    display:flex;
    justify-content: end;
   margin: 1% 5%;
   font-size: 18px;
   text-transform: uppercase;
   
}




a:hover{
    text-decoration: underline;
    color: var(--color);
    cursor:pointer;

}




/*home page */

main{
    display:grid;
    flex-direction: column;
    
    
}

header{
    
    align-items: center;
    flex-direction: row;
    flex-grow:1;
    height:100vh;
    
    
}

.intro p{
  color: var(--color);
}
h1{
    font-size: 90px;
}


/* about me page */

summary{
    display:flex;
    flex-direction:row;
    width:100vh;

   
}
.aboutMe {
    width:50%;
    background-color:peru;

}
.myPhoto{
   background-color: pink;
    justify-content: center;
   
}

.myPhoto img{
    width:140px;
    border-radius: 50%;
    box-shadow: 3px 5px var(--color);
    

}


/*for projects page */

.container{
    display:grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    gap:1%;
    
    margin:15px;
    

    

}
.project{
    background-color:hsl(196, 100%, 23%);
    border-radius: 2% ;
    border:2px solid black;
     display:flex; 
    flex-direction:column;
    align-items: center;
    width:100%;
    margin:1px;
  

}
.project:hover{
    
    
    border: 2px solid white;
    transition: all 1s;
}
.project img{
    width:90%;
    margin-top: 5px;
    border-radius: 2%;

}

.project a{
    justify-content: center;
}

@media only screen and (max-width: 900px){
  .container{
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    
  }  
}


@media only screen and (max-width: 600px){
    .container{
      grid-template: repeat(4, 1fr) / repeat(1, 1fr);
      
    }  
    


.socialLinks{
  justify-content: space-around;
}
